<% if current_user.has_account? %>
		You have an account.<br/>
		<h2>Connecting to your account</h2>
		<p>To use your account, go to Go to <a href="https://znix.xyz/vm/shell/">https://znix.xyz/vm/shell/</a></p>
		<%= link_to 'Reset Password', reset_password_user_path,
								method: :post,
								data: { confirm: 'Are you sure?' } %>
<% else %>
		<%= form_for :create, url: setup_user_path, method: :post do |f| %>
				<p>Please pick a username carefully, as it cannot be easily changed.</p>

				<p>
					<%= f.label :username %><br>
					<%= f.text_field :username %>
				</p>

				<p>
					<%= f.submit %>
				</p>
		<% end %>
<% end %>
