<!DOCTYPE html>
<html>
<head>
	<title>NASSrv</title>
	<%= csrf_meta_tags %>

	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
	<% if current_user == nil %>
			<%= link_to 'Dev Auth', '/auth/developer' unless Rails.env.production? %>
			<%= link_to 'NAS-Auth', '/auth/nas_auth' %>
	<% else %>
			<%= link_to current_user.title, user_path %>
			<%= link_to 'Logout', '/logout' %>
	<% end %>
</header>
<% flash.each do |key, value| %>
		<%= content_tag :div, class: ['alert', 'alert-' + key] do %>
				<%= value %>
		<% end %>
<% end %>
<%= yield %>
</body>
</html>
